<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>10-4</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
    <label>
        <select v-model="year">
            <option disabled value="">Select Year</option>
            <option>2015</option>
            <option>2016</option>
            <option>2017</option>
        </select>
    </label>
    <h1>{{year}}</h1>
    <label>
        <select v-model="years" multiple>
            <option disabled value="">Select Year</option>
            <option value="15">2015</option>
            <option value="16">2016</option>
            <option value="17">2017</option>
        </select>
    </label>
    <h1>{{years}}</h1>
    <label>
        <select v-model="selectedYear">
            <option v-for="year in yearOptions" :value="year">{{year}}</option>
        </select>
    </label>
    <h1>{{selectedYear}}</h1>
    <label>
        <select v-model="selectedMonth">
            <option v-for="month in 12" :value="month">{{month}}</option>
        </select>
    </label>
    <h1>{{selectedMonth}}</h1>
    <label>
        <select v-model="selectedGender">
            <option v-for="gender in genders" :value="gender.value">{{gender.text}}</option>
        </select>
    </label>
    <h1>{{selectedGender}}</h1>
</div>
<script>
    const vm = new Vue({
        el: '#app',
        data: {
            genders: [
                {value: 1, text: 'Male',},
                {value: 2, text: 'Female',},
                {value: 3, text: 'Others',},
            ],
            selectedGender: 1,
            selectedMonth: 1,
            selectedYear: 2015,
            year: '',
            years: [],
            yearOptions: [2015, 2016, 2017],
        },
    });
</script>
</body>
</html>