<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>3-4</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
    <span v-if="see">Now you see me</span>
    <span v-else>Now you don't</span>
    <div v-for="step in steps">{{step}}</div>
</div>
<script>
    new Vue({
        el: '#app',
        data: {
            see: false,
            steps: [
                '學 JavaScript',
                '學 Vue',
                '年薪百萬',
            ],
        },
    });
</script>
</body>
</html>