<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>3-4</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="counter">
    <h1>{{count}}</h1>
    <button v-on:click="add">+1</button>
    <ul>
        <li v-for="item in items">{{item}}</li>
    </ul>
    <button v-on:click="remove">-1</button>
    <br>
    <label>
        <input type="text" v-model="text">
    </label>
    <span>{{text}}</span>
</div>
<script>
    new Vue({
        el: '#counter',
        data: {
            count: 0,
            items: [1,2,3,4,5],
            text: '',
        },
        methods: {
            add() {
                this.count += 1;
            },
            remove() {
                this.items.pop();
            }
        }
    });
</script>
</body>
</html>