<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>7-3</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        #app {
            text-align: center;
        }
    </style>
</head>
<body>
<div id="app">
    <label>
        <input type="checkbox" v-model="checked1">
    </label>
    <label>
        <input type="checkbox" v-model="checked2">
    </label>
    <h1 v-if="checked1">跳樓大拍賣</h1>
    <h1 v-else-if="checked2">夥計隨便賣</h1>
    <h1 v-else>老闆不在家</h1>
</div>
<script>
    const vm = new Vue({
        el: '#app',
        data: {
            checked1: false,
            checked2: false,
        },
    });
</script>
</body>
</html>